@import "../variables";
@import "../mixins/text";
@import "../mixins/news-card";

.news-card {
  position: relative;
  height: 100%;
  text-decoration: none;

  &__place-holder {
    background-color: $primary-color;
    .news-card__image {
      object-fit: contain !important;
      height: 40%;
      width: -webkit-fill-available;
      margin: 10%;
      padding: $spacer;
    }

    .news-card__info {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}

.news-card__info {
  background-color: $primary-color-9;
  padding: $spacer * 2;
  margin: auto;
  height: 40%;
}

.news-card__image {
  position: relative !important;
  height: 100%;
  width: 100%;
  color: transparent;
}

.news-card__info-title {
  color: white !important;
}

.news-card__info-trail {
  color: white !important;
}
