/*
// .site
*/
@import "./variables";
@import "./mixins/responsive";

.site {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.site-header {
  flex-shrink: 0;
  background-color: $primary-color;
  height: $site-header-height;
}

.site-body {
  flex-grow: 1;
  padding: $spacer * 4 0;
}

.site-footer {
  flex-shrink: 0;
  background-color: $primary-color;
  height: $site-footer-height;
}

.site-header__logo {
  height: $site-header-logo-height;
  object-fit: contain;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.site-header__search-container {
  position: absolute;
  bottom: 0px;
  right: 0px;
  border-bottom: 2px solid white;
  min-width: 90px;
}

.site__loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.site-header__search-input {
  background-color: transparent;
  border: none;
  color: white;
  transition: width 0.5s;
  width: 0px;

  &:focus,
  &-focus {
    width: 100px;
  }

  &:focus-visible {
    outline: none;
  }
  &::placeholder {
    color: white;
    opacity: 0.4;
  }
}

//site notification
.site__notification {
  width: 100%;
  padding: $spacer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

  &-success {
    background-color: $success;
  }

  &-error {
    background-color: $error;
  }
}

@media (max-width: breakpoint(sm-end)) {
  .site-body {
    padding: $spacer * 4;
  }
}
