/*
// .site
*/
@import "./variables";

.site {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.site-header {
  flex-shrink: 0;
  background-color: $primary-color;
  height: $site-header-height;
}

.site-header__logo {
  height: $site-header-logo-height;
  object-fit: contain;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.site-header__search-container {
  position: absolute;
  bottom: 0px;
  right: 0px;
  border-bottom: 2px solid white;
  min-width: 90px;
}

.site-body {
  flex-grow: 1;
  padding: $spacer * 4 0;
}

.site-footer {
  flex-shrink: 0;
  background-color: $primary-color;
  height: $site-footer-height;
}
