@import url("https://fonts.googleapis.com/css2?family=Georgia&display=swap");
@import url("https://fonts.googleapis.com/css?family=Georgia:300,400,500,700,900");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");

/* ----------------------------------------
// Home
// ---------------------------------------- */
@import "home/home";
@import "search/search";
@import "news/news-detail";

/* ----------------------------------------
// Components
// ---------------------------------------- */
@import "./components/dropdown";
@import "./components/menu";
@import "./components/news-card";
@import "./components/news-block";
@import "./components/loader";

// common
@import "./variables";
@import "./site";
