@import "../mixins/news-card";

.home__title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-story-0 {
  grid-area: top-story-0;
  @include news-card__layout-grid-lg();
}

.top-story-1 {
  grid-area: top-story-1;
  @include news-card__layout-grid-md();
}

.top-story-2 {
  grid-area: top-story-2;
  @include news-card__layout-grid-md();
}

.top-story-3 {
  grid-area: top-story-3;
  @include news-card__layout-grid-sm();
}

.top-story-4 {
  grid-area: top-story-4;
  @include news-card__layout-grid-sm();
}

.top-story-5 {
  grid-area: top-story-5;
}

.top-story-6 {
  grid-area: top-story-6;
}

.top-story-7 {
  grid-area: top-story-7;
}

.top-story-5,
.top-story-6,
.top-story-7 {
  @include news-card__layout-grid-lg();
}

.home__top-story-banner {
  height: $home-top-story-banner-height;
  display: grid;
  // grid-template-columns: 25% 25% 25% 25%;
  // grid-template-rows: 105px 105px 105px 105px;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "top-story-0 top-story-0 top-story-1 top-story-2"
    "top-story-0 top-story-0 top-story-1 top-story-2"
    "top-story-0 top-story-0 top-story-1 top-story-2"
    "top-story-0 top-story-0 top-story-3 top-story-4"
    "top-story-0 top-story-0 top-story-3 top-story-4";
  background-color: #fff;
  gap: $home-grid-card-gap;
}

.home__top-story-footer {
  height: $home-top-story-footer-height;
  margin-top: $home-grid-card-gap;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "top-story-5 top-story-6 top-story-7";
  background-color: #fff;
  gap: $home-grid-card-gap;
}
