// ----------------------------------------
// -- Colors
// ----------------------------------------
$primary-color: rgba(9, 53, 123, 1) !default;

// ----------------------------------------
// -- Spacing
// ----------------------------------------
$spacer-1: 9px !default;
$spacer-2: 12px !default;
$spacer-3: 16px !default;

// ----------------------------------------
// -- Font weight
// ----------------------------------------

$font-weight-thin: 100 !default;
$font-weight-extra-light: 200 !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semi-bold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-extra-bold: 800 !default;
$font-weight-black: 900 !default;

// ----------------------------------------
// -- body
// ----------------------------------------
$body-font-color: rgba(0, 0, 0, 0.87) !default;

$body-font-family: var(--bodyFont) !default;
$body-font-size: 16px !default;
$body-font-weight: $font-weight-normal !default;
$body-line-height: 24px !default;

$body-font-size-2: 14px !default;
$body-line-height-2: 20px !default;
$body-font-weight-2: $font-weight-normal !default;

$small-font-color: rgba(0, 0, 0, 0.87) !default;
$small-font-size: 12px !default;
$small-font-weight: $font-weight-normal !default;
$small-line-height: 14px !default;
$small-font-family: var(--bodyFont) !default;

// ----------------------------------------
// -- headers
// ----------------------------------------
$headers-font-family: var(--appFont) !default;
$headers-font-weight: 700 !default;
$headers-font-style: normal !default;
// h1
$h1-font-family: $headers-font-family !default;
$h1-font-size: 96px !default;
$h1-font-line-height: 96px !default;
$h1-font-weight: $headers-font-weight !default;
$h1-font-style: $headers-font-style !default;
// h2
$h2-font-family: $headers-font-family !default;
$h2-font-size: 60px !default;
$h2-font-line-height: 60px !default;
$h2-font-weight: $headers-font-weight !default;
$h2-font-style: $headers-font-style !default;
// h3
$h3-font-family: $headers-font-family !default;
$h3-font-size: 48px !default;
$h3-font-line-height: 49px !default;
$h3-font-weight: $headers-font-weight !default;
$h3-font-style: $headers-font-style !default;
// h4
$h4-font-family: $headers-font-family !default;
$h4-font-size: 34px !default;
$h4-font-line-height: 39px !default;
$h4-font-weight: $headers-font-weight !default;
$h4-font-style: $headers-font-style !default;
// h5
$h5-font-family: $headers-font-family !default;
$h5-font-size: 24px !default;
$h5-font-line-height: 32px !default;
$h5-font-weight: $headers-font-weight !default;
$h5-font-style: $headers-font-style !default;
// h6
$h6-font-family: $headers-font-family !default;
$h6-font-size: 20px !default;
$h6-font-line-height: 32px !default;
$h6-font-weight: $headers-font-weight !default;
$h6-font-style: $headers-font-style !default;

// ----------------------------------------
// -- Layout
// ----------------------------------------

// breakpoints
$breakpoints: (
  xs-start: 0px,
  xs-end: 575px,
  sm-start: 576px,
  sm-end: 767px,
  md-start: 768px,
  md-end: 991px,
  lg-start: 992px,
  lg-end: 1199px,
  xl-start: 1200px,
);

$container-sm-max-width: 540px !default;
$container-md-max-width: 720px !default;
$container-lg-max-width: 960px !default;
$container-xl-max-width: 1140px !default;

// ----------------------------------------
// -- Site Header
// ----------------------------------------

$site-header-height: 126px !default;
$site-footer-height: 243px !default;
$site-header-logo-height: 56px !default;

// ----------------------------------------
// -- Mobile UI
// ----------------------------------------
$mobile-banner-height: 108px !default;
